<div class="container">
  <%= image_tag "sun.png", size: "1000x1000" %>
  <div class="title">
    <h2>天まで届け！</h2>
    <h1>　かき氷メーカー</h1>
  </div>
  <div class="start-btn">
    <%= button_to "スタート", "#", class: "btn btn-danger h1" %>
  </div>
</div>