<% content_for :title do %>
  かき氷メーカー
<% end %>
<div class="container">
  <%= image_tag "sun.png", class:"sun-image" %>
  <div class="title">
    <h2>天まで届け！</h2>
    <h1>　かき氷タワー</h1>
  </div>
  <div class="start-btn">
    <%= button_to "スタート", game_path, class: "btn btn-danger h1 rounded", method: :get %>
  </div>
</div>