<div class="container">
  <h1 class="text-center title">movie bot</h1>

  <div class="balloon_r">
    <p class="position-right says">公開予定の映画は？</p>
  </div>
  <div class="balloon_l">
    <p class="position-left says">2週間分の公開予定映画を配信します。</p>
  </div>
  <div class="balloon_r">
    <p class="position-right says">その他の機能？</p>
  </div>
  <div class="balloon_l">
    <p class="position-left says">評価の高い映画をお届けします。</p>
  </div>
  <div class="line-button">
    <%= image_tag 'movie_bot_qr.png', size: "200x200" %>
  </div>
</div>

