.birthday-update {
  display: none;
}

.js-slot-button {
  display: none;
}

input {
  width:1em;
  font-size:30px;
  text-align:center;
}
button {
  width:40px;
}
.birthday {
  padding:10px 0;
}
.x1 div {
  float:left;
  width:50px;
  text-align:center;
}