.container h1 {
  padding-top: 100px;
}

.month {
  width: 100px;
  height: 70px;
  font-size: 3rem;
}

.day {
  width: 100px;
  height: 70px;
  font-size: 3rem;
}

.set-birthday-btn {
  background-color: aquamarine;
  border-radius: 10%;
  width: 100px;
  height: 70px;
}

.cake {
  margin-top: 100px;
}

.birthday-display {
  font-size: 3rem;
}

.birthday-update {
  display: none;
}

.js-slot-button {
  display: none;
}

.birthday {
input {
  width:1em;
  font-size:30px;
  text-align:center;
}
button {
  width:40px;
}
.birthday {
  padding:10px 0;
}
.x1 div {
  float:left;
  width:50px;
  text-align:center;
}
}