body {
  height: 100%;
  background-color: rgb(99, 205, 247);
  .container {
    max-width: 1000px;
  }
}

@media only screen and (min-width:961px) {
  html {
    font-size: 71.4286%;
  }
}

.title {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  position: absolute;
  top: 40%;
  left: 50%;
  display: inline;
  transform: translate(-50%, -50%);
  h1 {
    font-size: 100px;
  }
  h2 {
    font-size: 50px;
  }
}

.start-btn {
  position: absolute;
  left: 50%;
  bottom: 100px;
  display: inline;
  transform: translate(-50%, -50%);
  h1 {
    font-size: 80px;
    border-radius: 10%;
    padding: 10px 70px;
  }
}