body {
  height: 100%;
  background-color: rgb(99, 205, 247);
  .container {
    max-width: 1000px;
  }
}

// PC
@media screen and (max-width: 2000px) {
  .sun-image {
    width: 500px;
    height: 500px;
  }
  .game-sun-image {
    width: 300px;
    height: 300px;
    float: left;
  }
}

// スマホ
@media screen and (max-width: 500px) {
  .sun-image {
    width: 300px;
    height: 300px;
  }
  .game-sun-image {
    width: 150px;
    height: 150px;
    float: left;
  }
}

.title {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  position: absolute;
  top: 40%;
  left: 50%;
  display: inline;
  transform: translate(-50%, -50%);
  h1 {
    font-size: 50px;
  }
  h2 {
    font-size: 30px;
  }
}

.start-btn {
  position: absolute;
  left: 50%;
  bottom: 30px;
  display: inline;
  transform: translate(-50%, -50%);
  h1 {
    font-size: 30px;
    padding: 10px 70px;
  }
}

.timer {
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 210px;
  background-color: rgba(255, 255, 255, 0.514);
}

#sec {
  font-size: 50px;
}

.table {
  background-color: rgb(252, 230, 197);
  height: 180px;
  width: 100%;
  position: absolute;
  left: 50%;
  bottom: 0;
  display: inline;
  transform: translate(-50%, 0);
  z-index: 1;
}

.kakigoori {
  position: absolute;
  bottom: 130px;
  z-index: 3;
  left: 50%;
  transform: translate(-50%, -50%);
}

.kakigoori-img {
  width: 100px;
  height: 100px;
}

.button {
  background-color: rgb(255, 255, 255);
  height: 140px;
  width: 100%;
  z-index: 1;
}

.click-button {
  background-color: rgb(255, 93, 93);
  border-radius: 50%;
  z-index: 3;
  position: absolute;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  margin-bottom: 20px;
}

#countdown {
  font-size: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.countdown-number {
  font-size: 100px;
}